#del-account,dis#left-panel > div > ul > li:nth-child(4) {
	display: none;
}

.left-right-tabs-nav .ui-state-active a,.left-right-tabs-nav .ui-state-active a:hover {
	background: #00838F;
}

.side-tabnav-tabs .tab-cur a,.side-tabnav-tabs .tab-cur a:hover {
	background-color: #00838F;
}

#notifications .num {
	background: #00838F;
}

#notice-popover li.unread {
	border-left: 2px solid #00838F;
}

#guide-for-new .icon-lightbulb {
	color: #00838F;
}

a {
	color: #00838F;
}

a:focus, a:hover {
	color: #0F848F;
	text-decoration: none;
}

.tab-popup-tabs-nav .ui-state-active .a,.tab-popup-tabs-nav .tab .a:hover {
	color: #00838F;
	border-bottom-color: #00838F;
}

.load-more-discussion {
	color: #00838F;
}

.tabnav-tab-cur a,.tabnav-tab a:hover,.wiki-nav .cur-item .link,.wiki-nav .link:hover,#right-panel .hd .ui-state-active .a,#right-panel .hd .a:hover {
	color: #00838F;
	border-bottom-color: #00838F;
}

#plans th {
	color: #00838F;
}

.repo-op .op-link:hover {
	color: #00838F;
}

.new-narrow-panel .hd {
	background: #00838F;
}

.side-tabnav h3.hd, .side-tabnav .hd h3 {
	color: #00838F;
}

.dropdown-menu a:hover {
	background: #00838F;
}

.op-target {
	color: #00838F;
}

.op-icon.sf2-x, .op-icon.sf2-x:hover {
	color: #00838F;
}

.side-tabnav-tabs .tab a:hover {
	background-color: #f2f2f2;
}

li.tab.tab-cur > a:hover, li.tab-cur > a:hover, li.tab-cur {
	background: #00838F;
}


#notifications .num {
	background: #CC0000;
	border: 1px solid #CC0000;
	
}

@-webkit-keyframes pulsate {
	0% {-webkit-transform: scale(0.1, 0.1); opacity: 0.0;}
	50% {opacity: 1.0;}
	100% {-webkit-transform: scale(1.2, 1.2); opacity: 0.0;}
}




/*__________________________________________Eigene Anpassungen__________________________________________________*/
































/*_________________________________________________________________________________________________________*/

/*Farbe & Typografie______________________________________________________________________________________ */
body, input, textarea, button, select, h1, h2, h3, td, .btn-white, .tabnav button, .wiki-top .op-btn, button {
	font-family: 'helvetica neue', 'Segoe UI', -apple-system, BlinkMacSystemFont, arial, 'Segoe UI', sans-serif;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	font-weight: 400;
}

body, input, textarea, button, select, h1, h2, h3, td, .side-tabnav h3.hd, .side-tabnav .hd h3, .grid-item .text-link:hover, .left-right-tabs-nav a {
	color: #37474F;
}

a, button, .btn-white, .tabnav button, .repo-file-list-topbar .op-btn, .wiki-top .op-btn, input[type=button], input[type=submit], input.submit, button.submit, #send-download-link, #send-upload-link, .big-btn-link {
	font-weight: 500;
	text-decoration:none;
}

/*Dark green text*/
a, .side-tabnav-tabs .tab a:hover, .side-tabnav-tabs .tab-cur [class^="sf2-icon-"], .side-tabnav-tabs .tab-cur a, .side-tabnav-tabs .tab [class^="sf2-icon-"]:hover, .dropdown-menu a:hover, .left-right-tabs-nav .ui-state-active a, .left-right-tabs-nav .ui-state-active a:hover, .op-target, .op-icon.sf2-x, .op-icon.sf2-x:hover, .grid-item .text-link.hl, .current-version, .side-tabnav-tabs .tab-cur a, .side-tabnav-tabs .tab-cur a:hover, .left-right-tabs-nav .ui-state-active a, .left-right-tabs-nav .ui-state-active a:hover, .left-right-tabs-nav a:hover .side-tabnav-tabs .tab-cur [class^="sf2-icon-"], .tab-cur [class^="sf2-icon-"]:hover, li.tab.tab-cur > a:hover, li.tab-cur > a:hover, li.tab-cur, .left-right-tabs-nav a:hover {
	color: #00838F;
}

/*Light green Background*/
.side-tabnav-tabs .tab-cur a, .side-tabnav-tabs .tab-cur a:hover, .side-tabnav-tabs .tab a:hover, .dropdown-menu a:hover, .current-version, .side-tabnav-tabs .tab-cur a, .side-tabnav-tabs .tab-cur a:hover, .left-right-tabs-nav .ui-state-active a, .left-right-tabs-nav .ui-state-active a:hover, .left-right-tabs-nav a:hover .side-tabnav-tabs .tab-cur [class^="sf2-icon-"], .tab-cur [class^="sf2-icon-"]:hover, li.tab.tab-cur > a:hover, li.tab-cur > a:hover, li.tab-cur, .ui-state-hover, .left-right-tabs-nav a:hover {
	background: #B2EBF2;
}













/*Layout______________________________________________________________________________________ */
#main, #footer {
	width: 100% !important;
	min-width: 1024px;
	box-sizing: border-box;
}

#left-panel {
	box-sizing: border-box;
	width: 25%;
	padding: 40px;
	background: #F5F7F9;
	min-height: 100vh;
	border-right: 1px solid #EEEEEE;
}

#right-panel {
	box-sizing: border-box;
	width: 75%;
	padding: 40px;
}

#header {
	box-shadow: 0 2px 4px rgba(70, 90, 99, 0.2), 0 1px 0px rgba(70, 90, 99, 0.2);
	background: #263238;
	padding-top: 12px;
	margin-bottom: 0px;
	min-width: 1024px;
	z-index: 0;
	position: relative;
}

#header-inner {
	width: calc(100% - 64px);
	height: 48px;
	margin: 0 32px;
}

#main {
	min-height: calc(100vh - 159px - 60px - 40px);
}

#main-panel {
	margin-top: 40px;
	padding: 0 40px;
	box-sizing: border-box;
}

.narrow-main-panel {
	width: 710px;
	margin-right: auto;
	margin-left: auto;
}










/*Buttons & Input______________________________________________________________________________________ */
input, button, input[type=submit], input[type=button], input.submit, .btn-link, .fileinput-button, select, .side-tabnav-tabs .tab, #right-panel .hd, .side-tabnav-tabs .tab-cur a, .side-tabnav-tabs .tab-cur a:hover, .side-tabnav-tabs .tab a:hover, .messages .success, .op-confirm, .left-right-tabs-nav a, #right-panel .hd, .tabnav, .repo-file-list-topbar, .commit-list-topbar, .file-audit-list-topbar, .wiki-top, #dir-view .repo-op  {
	border-radius: 4px;
}

button, .btn-white, .tabnav button, .repo-file-list-topbar .op-btn, .wiki-top .op-btn, input[type=button], input[type=submit], input.submit, button.submit, #send-download-link, #send-upload-link, .big-btn-link, button.yes, button.no  {
	padding: 5px 10px;
}

/*Weiße Button*/
.btn-white, .tabnav button, .repo-file-list-topbar .op-btn, .wiki-top .op-btn, input[type=button]{
	background: linear-gradient( #fff, #eee);
	margin-right: 4px;
	height: 30px;
}

/*Grüne Button*/
input[type=submit], input.submit, button.submit, #send-download-link, #send-upload-link, .big-btn-link, input[type=submit]:hover, input.submit:hover, button.submit:hover, #send-download-link:hover, #send-upload-link:hover, .big-btn-link:hover {
	background: linear-gradient( #129fad, #0F848F);
	border-color: #0F848F;
	color: white;
}


input[type=submit]:hover, input.submit:hover, button.submit:hover, #send-download-link:hover, #send-upload-link:hover, .big-btn-link:hover {
	opacity: .9;
}

button.yes {
	background: linear-gradient(#FF5722, #E64A19);
	border-color: #BF360C;
	color: white;
}

.btn-white * {
  vertical-align: initial !important;
}


/*Tabs______________________________________________________________________________________ */
.tab [class^="sf2-icon-"] {
	color: #81939e !important;
}

.tab:hover a, .tab:hover [class^="sf2-icon-"] {
	color: #0F848F;
}
.side-tabnav-tabs .tab a {
	font-size: 14px;
}

li.tab-cur {
	background: none;
}

li.tab-cur:hover a {
	color: white;
}

.left-right-tabs-nav a {
	padding: 7px 14px;
}
.side-tabnav-tabs .tab a {
	line-height: 48px;
	height: 48px;
	padding: 0;
}

.side-tabnav-tabs .tab .grp-list a {
	line-height: 32px;
	height: 32px;
}

.side-tabnav-tabs .tab-cur a {
	font-weight: 500;
}

#tab-cur-clear-fix {
	background: initial;
	color: #333 !important;
	font-weight: normal;
}

#tab-cur-clear-fix span{
	background: initial;
	color: #81939e !important;
}











/*Navi______________________________________________________________________________________ */
form#top-search-form.search-form.fleft {
	margin-right: 30px;
}

#top-search-form .search-input {
	width: 510px;
}

#top-search-form .search-input {
	padding: 1px 30px 1px 10px;
	height: 36px;
	background: rgba(0, 0, 0, 0.22);
	border: 0;
	color: white;
}

#top-search-form {
	margin-top: 0;
}
.search-form .search-submit {
	width: 36px;
	height: 36px;
	background: rgb(58, 72, 80);
	color: white;
}

#notifications {
	margin: 4px 0 0 17px;
}

#notifications .sf2-icon-bell {
	font-size: 36px;
	color: #92c0c2;
}

#notifications .num {
	background: #FF3D00;
	border-color: #FF3D00;
	line-height: 25px;
	height: 25px;
	width: 25px;
	text-align: center;
	vertical-align: middle;
	border-radius: 13px;
	padding: 0;
	top: -9px;
	left: 17px;
}









/*Werkzeugleiste______________________________________________________________________________________ */
#right-panel .hd, .tabnav, .repo-file-list-topbar, .commit-list-topbar, .file-audit-list-topbar, .wiki-top, #dir-view .repo-op {
	margin-bottom: 0;
}

#dir-view .repo-op {
	border-bottom: 0;
	position: initial;
}

#js-switch-list-view {
	border-radius: 4px 0px 0px 4px;
	border-right: 0px;
}

#js-switch-grid-view {
	border-radius: 0px 4px 4px 0px;
	border-left: 0px;
}

.grid-view-icon-btn.active, .list-view-icon-btn.active {
	background: #00838F;
	border-color: #00838F;
}

#right-panel h3:first-child {
	margin-bottom: 4px;
}

#right-panel .hd, .tabnav, .wiki-top {
	height: 48px;
	box-sizing: border-box;
}







/*Dateiliste______________________________________________________________________________________ */
thead td, thead th {
	padding: 14px 3px;
}

#left-panel h3, div.hd.w100.ovhd h3.fleft {
	font-size:14px;
	font-weight: 500;
}

.op-icon.sf2-x:hover, .op-icon.sf2-x:focus {
	text-decoration: none;
}

.web-setting-form .submit, .inline-rename-form .submit {
	color: white;
}

.empty-tips {
	color: #8a6d3b;
	background-color: #fcf8e3;
	border-color: #faebcc;
	box-shadow: none;
	text-align: center;
}

.empty-tips p, .empty-tips h2 {
	color: #8a6d3b;
}

table {
	margin-top: 0;
}
tr {
	height: 48px;
	vertical-align: middle;
	box-sizing: border-box;
}

td, th {
	padding: 12px 3px;
}


td.dirent-icon {
	padding: 0;
}
.repo-file-list th {
	padding-top: 14px;
}

.repo-file-list .dirent-name {
	width: 100%;
}

.repo-name-span a {
	display: block;
}

#repo-create-form .checkbox-label {
	margin: 7px 0;
}

span.dirent-name a.normal {
	display: block;
}







/*Gruppen______________________________________________________________________________________ */
.sf2-icon-allgroups:before {
	content: "\e026";
}


.grp-list .sf2-icon-allgroups, .grp-list .sf2-icon-group {
	font-size: 14px !important;
}

ul.grp-list {
	margin-left: 40px
}

thead.vh {
	display: none;
}

#groups .empty-tip {
	padding: 14px 0;
}

#group-toggle-btn {
	background: #f5f7f9;
	border-radius: 15px;
	margin-top: 9px;
	margin-right: 14px;
	padding: 4px 10px;
}

#group-toggle-btn.icon-caret-left {
	padding: 4px 12px 4px 10.8px;
	margin-left: -0.6px;
}

#group-toggle-btn:focus {
	border-color: #c5c5c5;
}

a#group-settings-icon:after {
	content: "\f055";
    font-size: 14px;
    display: inline-block;
    margin-left: -7px;
    background: #F2F2F2;
    color: #0F848F;
    font-family: FontAwesome;
}




/*Footer______________________________________________________________________________________ */
#footer {
	margin-top: 0;
	padding: 40px;
	background: #0F848F;
	margin: initial;
}

#footer h4 {
	font-weight: 500;
	font-size: 16px;
	color: white;
}

#footer a, #footer p {
	font-weight: 400;
	font-size: 12px;
	color: white;
}















/*Modals______________________________________________________________________________________ */
h3#dialogTitle.hd {
	margin: -20px;
	padding: 20px;
	background: #F5F7F9;
	margin-bottom: 20px;
	border-radius: 4px 4px 0px 0px;
	border-bottom: 1px solid #EEEEEE;
}

#simplemodal-container .left-right-tabs-nav .ui-state-active a {
	font-weight: 500;
}

.extended-options-btn {
	cursor: pointer;
}

.extended-options-btn:hover {
	text-decoration: none;
	color: #469a9e;
}
#create-link {
	margin-top: 8px;
}
.simplemodal-container {
	height: 400px;
}

.simplemodal-container #email, .simplemodal-container #extra-msg, .simplemodal-container #u-email, .simplemodal-container #u-extra-msg {
	width: calc(100% - 20px);
}
#repo-name {
	width: calc(100% - 6px);
	padding: 3px 3px;
}

#create-rep {
	margin-top: 16px;
}

/*Erläuterung im Freigabe-Menü*/
#share-popup .tip {
	max-width: initial;
	margin-top: 0;
}

#share-popup .tabs-panel, #folder-perm-tabs .tabs-panel, #repo-shared-links .tabs-panel, #repo-folder-perm .tabs-panel {
	max-height: initial;
}







/*Footer______________________________________________________________________________________ */
img.thumbnail {
	max-width: 32px;
	max-height: 32px;
	border-radius: 3px;
}

#account .manage {
	position: absolute;
	left: 33px;
	top: -12px;
}







/*Profileinstellungen______________________________________________________________________________________ */
#user-basic-info {
	box-sizing: border-box;
	width: 100%;
	float: left;
}

div#user-avatar-change, form#user-profile-settings {
	width: 49%;
	box-sizing: border-box;
	display: inline-table;
}

form#user-profile-settings {
	width: 49%;
	box-sizing: border-box;
	display: inline-table;
}


#user-avatar-change {
	text-align: right;
}
#user-basic-info .avatar {
	width: 155px;
	height: 155px;
	border-radius: 100%;
	margin-top: 24px;
}

form#user-avatar-form.ovhd {
	left: initial !important;
	width: initial !important;
	margin-top: 4px;

}

#user-avatar-form {
	position: initial;
}

form#user-profile-settings input[type=submit] {
	margin-left: 0 !important;
}

#user-profile-settings .input {
	width: 100% !important;
} 

.setting-item {
	margin-bottom: 70px;
}

#user-avatar-chg-btn {
	width: 155px;
	border-width: 0;
	background: white;
}









/*Dateivorschau______________________________________________________________________________________ */
#file-view {
	margin: 20px -40px 0;
}

#file-view-tip {
	border-width: 0;
	box-shadow: none;
	background: none;
}










/*Sonstiges______________________________________________________________________________________ */
.dropdown-menu li a, .dropdown-menu a {
	padding: 6px 12px;
}

.op-confirm {
	padding: 20px;
	padding-top: 15px;
}

/*Grüner Toast*/
.messages .success {
	padding: 15px 50px;
	font-weight: 500;
}
.current-version {
	font-size: 12px;
	display: inline;
	padding: 3px;
	border-radius: 2px;
	background: #00838F;
	color: white;
}

.enable-mods-icon {
	margin-right: 20px;
}

::-webkit-scrollbar {
	display: none;
	width: 0;
}






/*Media Queries______________________________________________________________________________________ */
@media (min-width: 1680px) {
	#left-panel {
		width: 20%;
	}

	#right-panel {
		width: 80%;
	}
}

@media (max-width: 1024px) {
	#left-panel {
		display: none;
	}

	#right-panel, #header {
		width: 100%;
		
	}

	#right-panel {
		padding: 2.5%;
		padding-top: 5%;
		min-height: 90vh;
	}

	#main, #footer, #header {
		min-width: 320px;
	}

	#header-inner {
		padding: 0 2.5%;
		width: initial;
		margin: initial;
	}

	.my-own-repos-table td:nth-of-type(4), .my-own-repos-table td:nth-of-type(5), .my-own-repos-table th:nth-of-type(4), .my-own-repos-table th:nth-of-type(5) {
		display: none;
	}

	.repo-file-list td:nth-of-type(2),.repo-file-list td:nth-of-type(6), .repo-file-list td:nth-of-type(7), .repo-file-list th:nth-of-type(2), .repo-file-list th:nth-of-type(6), .repo-file-list th:nth-of-type(7) {
		display: none;
	}

	table .vh {
		visibility: visible !important;
	}

	td.repo-op-td {
		text-align: right;
	}

	#logo:before {
		content: "\e026";
		font-family: 'seafile-font2';
		speak: none;
		font-weight: normal;
		font-variant: normal;
		text-transform: none;
		-webkit-font-smoothing: antialiased;
		color: white;
		font-size: 25px;
	}

}











/*Animationen______________________________________________________________________________________ */
#simplemodal-container {
	animation: fadein 0.5s;
	-moz-animation: fadein 0.5s; /* Firefox */
	-webkit-animation: fadein 0.5s; /* Safari and Chrome */
	-o-animation: fadein 0.5s; /* Opera */
}



@keyframes fadein {
	from {
		opacity:0;
		transform: translateY(-200px);
		transform: ;

	}
	to {
		opacity:1;
		transform: translateY(0px);
	}
}

.mfp-zoom-out-cur {
	animation: grow .75s;
	-moz-animation: grow .75s; /* Firefox */
	-webkit-animation: grow .75s; /* Safari and Chrome */
	-o-animation: grow .75s; /* Opera */
	box-shadow: 0 2px 4px rgba(70, 90, 99, 0.075), 0 1px 0px rgba(70, 90, 99, 0.075);

}

@keyframes grow {
	from {
		opacity:0;
	}
	to {
		opacity:1;
	}
}

.popover, .messages .success {
	-webkit-backface-visibility: visible !important;
	backface-visibility: visible !important;
	animation: flipInX 0.2s;
	-moz-animation: flipInX 0.2s; /* Firefox */
	-webkit-animation: flipInX 0.2s; /* Safari and Chrome */
	-o-animation: flipInX 0.2s; /* Opera */

}

@keyframes flipInX {
	from {
		-webkit-transform: rotate3d(1, 0, 0, 90deg);
		transform: rotate3d(1, 0, 0, 90deg);
		-webkit-animation-timing-function: ease-in;
		animation-timing-function: ease-in;
		opacity: 0;
	}


	to {
		z-index: 5000;
	}
}



