[Desktop Entry]
Encoding=UTF-8
Name=Link to https://app.seafile.de/media/img/seafile-logo.png
Type=Link
URL=https://app.seafile.de/media/img/seafile-logo.png
Icon=image-png
